.side-navbar {
  width: 200px;
  .sidebar-header {
    .avatar {
      margin-bottom: 1rem;
    }
    .title {
      text-transform: capitalize;
    }
  }
  .list-unstyled {
    text-align: center;
  }
}
