// -----------------------------------------------------------------------------
// This file contains styles that are specific to the login page.
// -----------------------------------------------------------------------------
#login {
  height: 100vh;
  background: linear-gradient(to bottom,rgba(78,94,170, 0.9),rgba(78,94,170, 0.9)),url("../../images/login-bg.jpg");
  .container {
    height: 105px;
  }
  #login-box {
    background:  #999ede;
    position: relative;
    .form-holder {
      padding: 6rem 2rem;
      position: absolute;
      top: -16%;
      left: 5%;
      @include normal-box-shadow;
    }
  .btn {
    background: #ff73b3;
  }
    #signup-form, #login-from {
      transition: all 0.3s ease-in;
    }
  }
}
